@charset "UTF-8";

/** * @authors Hå› (qq:262281610)
* @date    2014-11-11 10:12:51
* @version 1.0 */

body, div, ul, li, a, img, h1, h2, h3, h4, h5, h6, p, input, table, tr, td ,pre{
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
img, input {
	border: 0;
	outline: none;
}
ul {
	list-style: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; 
}

.clearfix:after {
  clear: both; 
}
i {
	font-style: normal;
}
.container {
	max-width: 640px;
	margin:0 auto 20px;
}
.container img {
	max-width: 100%;
}
.container .header {
	width: 100%;
	height: 45px;
	line-height: 45px;
	white-space: nowrap;
	background: #24C1B0;
	text-align: center;
	color:#fff;
}
.container .header h1 {
	font-weight: normal;
	font-size: 20px;
}
.container .header a{
	color: #fff;
	font-size: 14px;
}
.container .header a > img {
	width: 25px;
}
.container .header .return {
	float: left;
	display: inline;
	background: url(../images/return.png) no-repeat 10px center;
	background-size:14px 23px;
	padding-left: 30px;
}

.container .header .return-index {
	float: right;
	margin-right: 10px;
	display: inline;
	padding-left: 20px;
}
.container .school-list {
	border-top :1px solid #DADADA;
	margin-top:20px;
}
.container .school-list li{
	background: #fff;
	border-bottom :1px solid #DADADA;
	font-size: 16px;
	color: #4c4c4c;
}
.container .school-list li a{
	padding: 20px;
	display: block;
	color:#4c4c4c;
}
.container .school-list li a:active{
	background: #d5d5d5;
}
.container .school{
	background: url(../images/banner.jpg) no-repeat;
	background-size: cover;
	padding:7% 0;
}
.container .school .school-c{
	position: relative;
}
.container .school .school-name{
	color: #0c6d63;
	font-size: 16px;
	margin-left: 4%;
	line-height: 24px;
	width: 62%;
}
.container .school  .select-school{
	background: #fff;
	color: #0c6d63;
	border-radius: 4px;
	border:1px solid #8FBDAE;
	display: inline-block;
	padding:8px 12px;
	position: absolute;
	top:-5px;
	right:4%;
}
.container .school .select-school:visited{
	color: #0F7167;
}

.container .menu{
	position: relative;
	padding:10px;
	text-align: center;
	border-bottom :1px solid #DADADA;
}
.container .menu .time{
	color: #666;
	font-size: 20px;
	margin:0 30px;
	text-align: center;
}
.container .menu .date{
	display: block;
	margin-top: 5px;
	color:#b2b2b2;
}
.container .menu  a{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url('../images/arrow.png') no-repeat center center;
	background-size: 50%;
	position: absolute;
	top: 14px;
}
.container .menu  a.prev{
	left:15%;
}
.container .menu  a.next{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-0-transform: rotate(180deg);
	transform: rotate(180deg);
	right: 15%;
}
.container .t-week .menu-list{
	background: #DADADA ;

}
.container .t-week .menu-list li{
	padding:10px;
	margin-bottom:1px;
	background: #fff;
	
}
.container .t-week .menu-list .t-day{
	width:60px;
	color:#24c1b1;
	font-size: 16px;
	float: left;
	margin-left: 5px;
}
.container .t-week .menu-list .t-day-c{
	margin-left: 70px;
	line-height: 20px;
	font-size: 14px;
}
.container .t-week .menu-list pre{
	word-wrap: break-word;
} 