@charset "UTF-8";
body, a, p, input, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form { margin: 0; padding: 0; list-style: none; vertical-align: middle }
body { background-color: #f9f8f8; font-family: "\5FAE\8F6F\96C5\9ED1", "微软雅黑", helvetica, arial; color: #000; font-size: 13px }
header, section, footer, img { display: block; margin: 0; padding: 0 }
img { border: 0 }
* { padding: 0; outline: 0; }
a { outline: 0; noFocusLine: expression(this.onFocus = this.blur()); }
a:focus { outline: 0; }
img { border: none; line-height: 0; }
a img { border-width: 0; vertical-align: middle; outline: none; }
ul, li { border: 0; margin: 0; padding: 0; list-style: none; }
input[type=text]:focus, input[type=password]:focus, textarea:focus { outline: none; }
input { margin-right: 3px; vertical-align: middle; }
label { font-family: Tahoma; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

/*****************使用帮助*********************/
.bg{
    background: #EFEFF4;
}
.orange{
    color: #de8604;
}
.help-m .tit{
    padding: 10px 0;
    padding-left: 12px;
    text-align: left;
    font-size: 18px;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    background: #fff ;
    position: relative;
}
.help-m ul{
    padding:15px 15px 15px 36px;
    color: #666;
    font-size: 14px;
}
.help-m ul li{
    line-height: 22px;
    margin-bottom: 5px;
}
ul.hintT li{
    margin-bottom: 5%;
}
.help-m ul li a{
    text-decoration: none;
}
.help-m ul li h3{
    margin-bottom: 10px;
    font-size: 16px;
}
.hintT li h3{
    margin: 10px 0;
    font-size: 17px;
}
ul.upper-latin li {
    list-style: upper-latin;
    color: #de8604;
    font-size: 16px;
}
ul.decimal li {
    list-style: decimal;
}
.help-m ul li .p-gray{
    color: #666;
    font-size: 14px;
}
.hintT li p.p-gray{
    line-height: 22px; 
    margin: 3% 0;
}
/*****************班费规则介绍*********************/
.cost-help .title{
    background: #fff;
    padding:20px;
    line-height: 26px;
    font-size: 16px;
    border-bottom:1px solid #dbdbdb;
}
.cost-help .title p{
    text-indent: 2em;
}
.cost-help .cost-help-c{
    padding: 20px;
}
.cost-help .cost-help-c h2{
    font-weight: 700;
    font-size: 16px;
    color: #1a1c1c;
}
.cost-help .cost-help-c ul{
    padding:10px 0 10px 7%;
}
.cost-help .cost-help-c ul li{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color:#1a1c1c;
}
/*****************青豆规则*********************/
.cost-help-c h2 span{
    display:block;
    color:#777;
    padding-left:10px;
    margin-top:4px;
    font-size: 14px;
}
.bean .touxiang {
    background:url(/image/banban/mobile/banner.jpg) no-repeat;
    background-size: cover;
    color:#fff;
    position:relative;
    padding:20px;
}

.bean .touxiang .left{
    float:left;
    position: relative;
}
.bean .touxiang .left .v-ap{ position: absolute; width: 15px; right: 8px; bottom: -5px;  }
.bean .touxiang .left .v-ap img{ width:20px; height:20px; border-radius:50%; border:none; }
.bean .touxiang .left img{
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #A1B39F;
}
.bean .touxiang .right{
    margin-left:60px;
}
.bean .touxiang .right .name{
    font-size:18px;
    font-weight:700;
    margin-top: 3px;
}
.bean .touxiang .right .score{
    font-size:16px;
    margin-top: 2px;
    font-weight:700;
}
.bean .touxiang .right .score span{
    font-weight:normal;
}
.bean .cost-help-c ul li{
    color:#000;
}
.bean .touxiang .change{
    color:#f59201;
    position:absolute;
    top:20px;
    right:20px;
    background:#fff;
    width:50px;
    height:50px;
    border-radius:50%;
    text-align:center;
    line-height:50px;
    text-decoration:none;
    font-size:16px;
    font-weight:700;
    border:4px solid #C1D6BD;
}
/*****************分享*********************/
.share{
    padding:15px 15px 30px;
    font-size: 16px;
    line-height: 24px;
}
.share p{
    text-indent: 2em;
    margin-bottom: 10px;
    color: #1a1c1c;
}
.share .reg{
    margin-bottom: 10px;
}
.share .reg h2{
    color: #000;
    font-weight: 700;
}

.share .download{
    text-align: center;
    font-size: 0;
}
.share .download li{
    display: inline-block;
    width: 50%;
    font-size: 16px;
}

.share .download li a{
    display: block;
}
.share .download li span {
    margin-bottom: 10px;
    display: block;
    color: #666;
}
.share .download li a img{
    display: inline;
    border:1px solid #ddd;
    border-radius: 10px;
    max-width: 100%;

}